@font-face {
  font-family: "iconfont"; /* Project id 2860846 */
  src: url("//at.alicdn.com/t/font_2860846_555vyx2ev0k.woff2?t=1633994755683")
      format("woff2"),
    url("//at.alicdn.com/t/font_2860846_555vyx2ev0k.woff?t=1633994755683")
      format("woff"),
    url("//at.alicdn.com/t/font_2860846_555vyx2ev0k.ttf?t=1633994755683")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
